<h2 class="post-list-title">Últimos Posts</h2>

<div *ngIf="posts$ | async as posts; else loading">
  <ul class="posts-container" *ngIf="posts.length > 0; else noPosts">
    <li class="post-item" *ngFor="let post of posts">
      <h3 class="post-title">
        <a [routerLink]="['/post', post.slug]">{{ post.title }}</a>
      </h3>

      <p class="post-excerpt">{{ post.content | slice : 0 : 150 }}...</p>

      <small class="post-meta" *ngIf="post.publishDate">
        Publicado em:
        {{ post.publishDate | date : "dd/MM/yyyy" }}
      </small>
    </li>
  </ul>

  <ng-template #noPosts>
    <p class="no-posts-message">Nenhum post encontrado.</p>
  </ng-template>
</div>
<ng-template #loading>
  <p class="loading-message">Carregando posts...</p>
</ng-template>
